<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="https://cdn-icons-png.flaticon.com/512/9432/9432403.png"
      type="image/x-icon"
    />

    <!-- tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- page title -->
    <title>QR Code Generator</title>
  </head>
  <body></body>
</html>
