<%- include('partials/header.ejs') %>

  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Generate QR Code</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <!-- component -->
  <div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat"
    style="background-image:url('https://images.unsplash.com/photo-1499123785106-343e69e68db1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80')">
    <div
      class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8 h-fit mt-[5rem]">
      <div class="text-white">
        <div class="mb-8 flex flex-col items-center">
          <img src="https://cdn-icons-png.flaticon.com/512/9432/9432403.png" width="150" alt="" srcset="" />
          <h1 class="mb-2 text-2xl">QR code Generator</h1>
          <span class="text-gray-300">Created by MSB 🤍</span>
        </div>

        <style>
          body {
            background-image: url("https://cdn-icons-png.flaticon.com/512/9432/9432403.png");
            background-size: cover;
            height: 100vh;
            position: relative;
          }

          nav {

            background-color: #333;
            display: flex;
            border-radius: 10px;
            border: 4px solid #918f7f;
            justify-content: right;
            padding: 10px 20px;
            position: absolute;
            width: 99%;
            left: 9px;
            top: 3px;

          }

          nav ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
          }

          nav ul li a {
            color: #fff;
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            position: relative;
          }


        <style>
          body {
            background-image: url("https://cdn-icons-png.flaticon.com/512/9432/9432403.png");
            background-size: cover;
            height: 100vh;
            position: relative;
          }

          nav {

            background-color: #333;
            display: flex;
            border-radius: 10px;
            border: 4px solid #918f7f;
            justify-content: right;
            padding: 10px 20px;
            position: absolute;
            width: 99%;
            left: 9px;
            top: 3px;
            z-index: 2;
          }

          nav ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
          }

          nav ul li a {
            color: #fff;
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            position: relative;
          }

          nav ul li a::before {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 4px;
          }

          nav ul li a:hover {
            background-color: #444;
          }

          nav ul li a:hover::before {
            background-color: #fff;
          }


          #urllbl,#imagelbl,#url,#image{
            display: none;
          }

        </style>
        <form action="/" method="post">
          <div class="mb-2 text-lg text-yellow-200">
            <!-- <input class="rounded-3xl border-none bg-gray-800 backdrop-blur-md bg-opacity-5 px-6 py-2 text-center text-inherit outline-none" type="text" name="name" placeholder="id@email.com" value="Text to be Encoded:" editable="false" disabled/> -->
            <label for="string" id="stringlbl"
              class="rounded-3xl mx-4 border-none backdrop-blur-md bg-opacity-5 px-7 py-2 text-center text-inherit outline-none">Text
              to be Encoded:</label>
          </div>
          <div class="mb-2 text-lg text-yellow-200">
            <!-- <input class="rounded-3xl border-none bg-gray-800 backdrop-blur-md bg-opacity-5 px-6 py-2 text-center text-inherit outline-none" type="text" name="name" placeholder="id@email.com" value="Text to be Encoded:" editable="false" disabled/> -->
            <label for="url" id="urllbl"
              class="rounded-3xl mx-4 border-none backdrop-blur-md bg-opacity-5 px-7 py-2 text-center text-inherit outline-none">Url
              to be Encoded:</label>
          </div>
          <div class="mb-2 text-lg text-yellow-200">
            <!-- <input class="rounded-3xl border-none bg-gray-800 backdrop-blur-md bg-opacity-5 px-6 py-2 text-center text-inherit outline-none" type="text" name="name" placeholder="id@email.com" value="Text to be Encoded:" editable="false" disabled/> -->
            <label for="image" id="imagelbl"
              class="rounded-3xl mx-4 border-none backdrop-blur-md bg-opacity-5 px-7 py-2 text-center text-inherit outline-none">Image
              to be Encoded:</label>
          </div>
          <label for="string"
              class="rounded-3xl mx-4 border-none backdrop-blur-md bg-opacity-5 px-7 py-2 text-center text-inherit outline-none">Text
              to be Encoded:</label>
          </div>


          <div class="mb-4 text-lg">
            <input id="string"
              class="rounded-3xl border-none bg-yellow-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
              type="text" name="string" placeholder="Enter data" required autocomplete="off" spellcheck=false />

            <input id="url"
              class="rounded-3xl border-none bg-yellow-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
              type="url" name="string" placeholder="Enter URL" required autocomplete="off" spellcheck=false />
            <input id="image"
              class="rounded-3xl border-none bg-yellow-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
              type="file" name="string" placeholder="Upload Image" required autocomplete="off" spellcheck=false />
          </div>
          <div class="text-center">
            <span onclick="handleClick('text')" id="stringselector"
              class="p-2 border-2 rounded-md text-[15px] hover:bg-yellow-400 hover:bg-opacity-50 hover:text-black hover:border-black bg-yellow-400 bg-opacity-50">Text</span>
            <span onclick="handleClick('url')" id="urlselector"
              class="p-2 border-2 rounded-md text-[15px] hover:bg-yellow-400 hover:bg-opacity-50 hover:text-black hover:border-black">Link</span>
            <span onclick="handleClick('image')" id="imageselector"
              class="p-2 border-2 rounded-md text-[15px] hover:bg-yellow-400 hover:bg-opacity-50 hover:text-black hover:border-black">Image</span>

          </div>
          <div class="mt-8 flex justify-center text-lg text-black">
            <button type="submit"
              class="rounded-3xl bg-yellow-500 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-yellow-600">Generate</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script>
    var text = document.querySelector("#string");
    var textlbl = document.querySelector("#stringlbl");
    var textsel = document.querySelector("#stringselector");
    var link = document.querySelector("#url");
    var linklbl = document.querySelector("#urllbl");
    var linksel = document.querySelector("#urlselector");
    var image = document.querySelector("#image");
    var imagelbl = document.querySelector("#imagelbl");
    var imagesel = document.querySelector("#imageselector");
    const handleClick = (text) => {
      selected_block(text);
    }
    function selected_block(txt) {
      if (txt == "text") {
        link.style.display = "none";
        linksel.style.background = "none";
        linklbl.style.display = "none";
        image.style.display = "none";
        imagesel.style.background = "none";
        imagelbl.style.display = "none";
        text.style.display = "block";
        textlbl.style.display = "block";
        textsel.style.backgroundColor = "rgba(250,204,21,0.5)";
      } else if (txt == "image") {
        link.style.display = "none";
        linksel.style.background = "none";
        linklbl.style.display = "none";
        image.style.display = "block";
        imagesel.style.background = "rgba(250,204,21,0.5)";
        imagelbl.style.display = "block";
        text.style.display = "none";
        textsel.style.background = "none";
        textlbl.style.display = "none";
      } else {
        link.style.display = "block";
        linksel.style.background = "rgba(250,204,21,0.5)";
        linklbl.style.display = "block";
        image.style.display = "none";
        imagesel.style.background = "none";
        imagelbl.style.display = "none";
        text.style.display = "none";
        textsel.style.background = "none";
        textlbl.style.display = "none";
      }
    }
  </script>
  <%- include('partials/footer.ejs') %>